@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body{
  background-image: url(shutterstock_1128879314.jpg);
  background-size: cover;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login {
  width: 100%;
  height: 20em;
  min-height: 24em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 20px 2px #634A39;
  border-radius: 4px;
  position: relative;
  z-index: 99;
  padding: 17px 50px 35px;
  transition: transform 200ms ease-in-out;
  border: 3px solid #634A39;
}
button {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #6AD5CB;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: #2386c8;
}
button:focus {
  outline: none;
}
.submit{
  margin-top: 10px;
}
.nav-links{
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.loginButton{
  margin-top: 15%;
}
input {
  margin-top: 20px;
}
.username {
  font-size: 20px;
}
.password {
  font-size: 20px;
}
.email {
  font-size: 20px;
}
input, label {
  display: block;
}
input {
  width: 400px;
  height: 25px;
}
label {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}
h5{
  text-decoration: none;
}
img {
  width: 350px;
}
.terms {
  display: flexbox !important;
  flex-direction: row !important;
}
button:disabled {
  background-image: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.listing {
  margin: 20px 0;
  border: 1px solid #634A39;
  border-radius: 5%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px #634A39;
}
h1 {
  font-family: 'Krona One', sans-serif;
}
ul, li {
  margin: 0;
  padding: 5px;
  list-style: none;
  align-items: left;
}
ul {
  width: 300px;
  text-align: left;
  font-family: 'Krona One', sans-serif;
}
.listing img {
  border: 1px solid black;
  border-radius: 5%;
  margin: 5px;
}
.addbutton {
  display: flex;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  background-color: #6AD5CB;
  font-family: 'Krona One', sans-serif;
}
.addbutton:hover{
  background-color: lime;
}
.control {
  padding: 0px 10px 0px 5px;
}
label {
  font-family: 'Krona One', sans-serif;
  padding-right: 10px;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.error {
  font-size: 12px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}